*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

::before,
::after {
  --tw-content: '';
}

html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Inter", "Lato" "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Inter", "Lato" "Liberation Mono", "Courier New", monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  appearance: inherit;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  appearance: inherit;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style-type: disc;
  margin: 0;
  padding: 0;
}


dialog {
  padding: 0;
}


textarea {
  resize: none;
}


input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}


:disabled {
  cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}


.mr-50 {
  margin-right: 50px;
}

.mr-25r {
  margin-right: 25rem;
}

li {
  font-size: 20px;
  margin-left: 40px;
  font-weight: bold;
}

.my-carousel {
  margin-top: 3rem;
  margin-bottom: -2.5rem;
}

.carousel-image {
  max-width: 700px;
  max-height: 420px;
}

.adimg {
  width: 320px;
  height: 320px;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-full {
  border-radius: 80px;
}

.mg-5 {
  margin: 5px;
}

.mg-10 {
  margin: 10px;
}

.header-select {
  margin: 0;
}

.rounded-carousel {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.carecroplogo {
  height: auto;
  width: 100px;
}

.icon {
  height: 50px;
  width: 50px;
}

.sitecarecroplogo {
  width: 250px;
  height: auto; 
  margin-bottom: 20px; 
}

.mt-025 {
  margin-top: 0.25rem;
}

.mt-05 {
  margin-top: 0.5rem;
}

.mt-075 {
  margin-top: 0.75rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-1\.5 {
  margin-top: 0.375rem;
}

.mt-11 {
  margin-top: 2.75rem;
}

.mt-20 {
  margin-top: 7rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-3 {
  margin-top: 0.7rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5px {
  margin-bottom: 5px;
}

.mt-36 {
  margin-top: 9rem;
}

.mt-105r {
  margin-top: 10.5rem;
}

.mt-56 {
  margin-top: 14rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt--8 {
  margin-top: -4.5rem;
}

.mt-25 {
  margin-top: 2.5rem;
}

.ml-1 {
  margin-left: 1rem ;
}

.mg-filter {
  margin-left: 10px;
  margin-right: 10px;
}

.mg-card {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 24px;
}

.ml-4 {
  margin-left: 4rem ;
}

.ml-10 {
  margin-left: 10rem ;
}

.min-h-screen {
  min-height: 130vh;
}

.min-h-lg {
  min-height: 150vh;
}

.min-w-screen {
  min-width: 100vh;
}

.min-h-mp {
  min-height: 100vh;
}

.min-h-auto {
  min-height: auto;
}

.min-w-screen {
 min-width: auto;
}

.left {
  transform: translate(-100%);
}

.right {
  transform: translate(100%, -100%); 
}

.up {
  transform: translate(0, -100%);
}

.flex {
  display: flex;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.h-7 {
  height: 1.75rem;
}

.h-10 {
  height: 10rem;
}

.h-15 {
  height: 15rem;
}

.h-select {
  height: 4.4rem;
}

.h-3 {
  height: 3rem;
}

.h-input {
  height: 3.22rem;
}

.w-3 {
  width: 3rem;
}

.w-14 {
  width: 14rem;
}

.w-8 {
  width: 8rem;
}

.w-82 {
  width: 82px;
}

.max-w-input {
  max-width: 360px;
}

.max-h-15 {
  max-height: 15rem;
}

.w-btn2 {
  width: 18rem;
}

.w-\[100px\] {
  width: 100px;
}

.w-\[361px\] {
  width: 361px;
}

.w-\[82px\] {
  width: 82px;
}

.w-360 {
  width: 360px;
}

.w-380 {
  width: 380px;
}

.w-400 {
  width: 400px;
}

.w-50 {
  width: 50rem;
}

.w-20 {
  width: 20rem;
}


.w-56 {
  width: 56rem;
}

.w-75 {
  width: 75rem;
}

.w-225 {
  width: 225px;
}

.w-225rem {
  width: 22.5rem;
}

.w-400 {
  width: 400px;
}

.w-376 {
  width:  376px;
}

.w-500 {
  width: 500px;
}

.w-600 {
  width: 600px;
}

.w-700 {
  width: 700px;
}

.w-800 {
  width: 800px;
}


.w-full {
  width: 100%;
}

.w-px {
  width: 1px;
}

.max-w-full {
  max-width: 100%;
}

.flex-1 {
  flex: 1 1 0%;
}

.grow {
  flex-grow: 1;
}

.btn-style {
  font-size: 1.5rem;
  line-height: 2rem;
  justify-content: center;
  align-items: center;
  width: 18rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 100%;
  font-weight: bold;
  color: black;
  white-space: nowrap;
  background-color: rgb(254 215 170);
  border-radius: 0.75rem;
  border: black solid 3px;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}


.items-center {
  align-items: center;
}

.items-left {
  align-items: start;
}

.items-right {
  align-items: end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-2\.5 {
  gap: 0.625rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-px {
  gap: 1px;
}

.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: center;
}

.self-stretch {
  align-self: stretch;
}

.self-end {
  align-self: flex-end;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-carousel {
  border-radius: 18%;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.border-2 {
  border-width: 2px;
}

.border-\[3px\] {
  border-width: 3px;
}

.border-solid {
  border-style: solid;
}

.border-black {
  border-color: rgb(0 0 0);
}

.border-blue-400 {
  border-color: rgb(96 165 250);
}

.bg-black {
  background-color: rgb(0 0 0);
}

.bg-body {
  background-color: #72A06A;
  height: 100%;
}

.bg-brown {
  background-color: #BC9B7F;
  height: 555px;
}

.bg-header {
  background-color: #416422;
}

.bg-neutral-500 {
  background-color: rgb(115 115 115);
}

.bg-orange-200 {
  background-color: rgb(254 215 170);
}

.bg-white {
  background-color: rgb(255 255 255 );
}

.bg-ee {
  background-image: url("./images/bg-ee.png");
  background-size: 150vh;
}

.px-16 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-3\.5 {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pr-20 {
  padding-right: 5rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-upper {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.text-xl {
  font-size: 1.175rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.font-bold {
  font-weight: 700;
}

.word-wrap { 
 text-wrap: wrap;
}

.font-extralight {
  font-weight: 200;
}

.font-semibold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.leading-\[100\%\] {
  line-height: 100%;
}

.text-black {
  color: rgb(0, 0, 0);
}

.text-white {
  color: rgb(255, 255, 255);
}

.text-red {
  color: rgb(255, 0, 0);
}

.text-blue{
  color: rgb(0,0,255);
}

.underline {
  text-decoration-line: underline;
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.article-container {
  width: 100%;
  height: auto;
  word-wrap: break-word;
}

.aside-container {
  width: 40%;
  height: auto;
  word-wrap: break-word;
}

.line {
  border-color: rgb(0 0 0);
}

h1, h2, p {
  word-wrap: break-word;
}


@media only screen and (min-width: 768px) {
  .max-md\:mt-10 {
    margin-top: 30px;
  }

  .article-container {
    width: 80%;
    height: auto;
    word-wrap: break-word;
  }

  .max-md\:max-w-full {
    max-width: 100%;
    height: 100%;
  }

  .max-md\:flex-wrap {
    flex-wrap: wrap;
  }

  .max-md\:px-5 {
    padding-left: 20px;
    padding-right: 20px;

  }

  .max-md\:pr-5 {
    padding-right: 1.25rem;
  }

  .max-md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  } 
}

@media only screen and (max-width: 768px) {
  .btn-style {
    font-size: 1.5rem;
    line-height: 2rem;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 100%;
    font-weight: bold;
    color: black;
    white-space: nowrap;
    background-color: rgb(254 215 170);
    border-radius: 0.75rem;
    border: black solid 3px;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .grow {
    flex-grow: 1;
  }

  .flex-col {
    margin-left: 0;
    margin-top: 10px;
  }
  
  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: left;
  }

  .up {
    transform: none;
  }

  .line {
    border-color: #BC9B7F;
  }

  .mg-card {
    padding: 8px; 
  }
  .max-w-input {
    width: 80%; 
  }

  .flex {
    flex-direction: column;
    align-items: center;
  }
  
  .word-wrap {
    text-wrap: wrap;
  }

  .gap-5 {
    gap: 1rem;
  }

  .justify-between {
    justify-content: center;
  }

  .self-stretch {
    align-self: stretch;
  }

  .px-6 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .bg-header {
    background-color: #416422;
  }
}

@media only screen and (max-width: 480px) {
  .carousel-image {
    max-width: 75%;
    max-height: 75%;
  }

    
  .aside-container {
    width: 10%;
    height: auto;
    word-wrap: break-word;
  }

  .line {
    border-color: #BC9B7F;
  }

  .article-container {
    width: 100%;
    height: auto;
    word-wrap: break-word;
  }

  .text-4xl {
    font-size: 2.5rem; 
  }


  .btn-style {
    font-size: 1.5rem;
    line-height: 2rem;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 100%;
    font-weight: bold;
    color: black;
    white-space: nowrap;
    background-color: rgb(254 215 170);
    border-radius: 0.75rem;
    border: black solid 3px;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  .px-6 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .h-select {
    width: 100%;
    margin-top: 0.5rem;
  }

  .py-2 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .text-2xl {
    font-size: 1.2rem;
    line-height: 1.75rem;
  }

  .w-380 {
    width: 100%;
  }

  .word-wrap {
    text-wrap: wrap;
  }

  .article-container h1,
  .article-container h2,
  .article-container p {
    margin-left: 0;
    margin-right: 0;
  }

  .up {
    transform: none;
  }
}

@media only screen and (max-width: 360px) {

  .line {
    border-color: #BC9B7F;
    margin: 10px 0;
  }

  .up {
    transform: none;
  }

  .article-container {
    width: 100%;
    padding: 10px;
    height: auto;
    word-wrap: break-word;
  }
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
  }

  .mg-filter {
    margin-top: 20px; /* Adjust filter margins for smaller screens */
  }
  .max-w-input {
    width: 100%; /* Make input full width on smaller screens */
  }


  ::before,
  ::after {
    --tw-content: '';
  }

  html,
  :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Inter", "Lato", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    margin: 0;
    line-height: inherit;
  }
  

  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  b,
  strong {
    font-weight: bolder;
  }

  code,
  kbd,
  samp,
  pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Inter", "Lato", "Liberation Mono", "Courier New", monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
  }

  button,
  select {
    text-transform: none;
  }

  button,
  [type='button'],
  [type='reset'],
  [type='submit'] {
    -webkit-appearance: button;
    appearance: inherit;
    background-color: transparent;
    background-image: none;
  }

  :-moz-focusring {
    outline: auto;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  progress {
    vertical-align: baseline;
  }

  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }

  [type='search'] {
    -webkit-appearance: textfield;
    appearance: inherit;
    outline-offset: -2px;
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }

  summary {
    display: list-item;
  }

  blockquote,
  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre {
    margin: 0;
  }

  fieldset {
    margin: 0;
    padding: 0;
  }

  legend {
    padding: 0;
  }

  ol,
  ul,
  menu {
    list-style-type: disc;
    margin: 0;
    padding: 0;
  }

  dialog {
    padding: 0;
  }

  textarea {
    resize: none;
  }

  input::placeholder,
  textarea::placeholder {
    opacity: 1;
    color: #9ca3af;
  }

  button,
  [role="button"] {
    cursor: pointer;
  }

  :disabled {
    cursor: default;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
  }

  [hidden] {
    display: none;
  }

  .my-auto {
    margin-top: auto;
    margin-bottom: auto;
  }

  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .text-2xl {
    font-size: 1.5rem; 
  }

  .h-3 {
    height: 30px; 
  }

  .aspect-square {
    width: 40px;
    height: 40px; 
  }
}

@media only screen and (max-width: 920px) {
  .up {
    transform: none;
  }

  .line {
    border-color: #BC9B7F;
    margin: 10px 0;
  }

  .article-container {
    width: 100%;
    padding: 10px;
    height: auto;
    word-wrap: break-word;
  }
}

@media only screen and (min-width: 1025px) {
  .article-container {
    width: 70%;
    margin: 0 auto;
    height: auto;
    word-wrap: break-word;
  }

  .article-container h1,
  .article-container h2,
  .article-container p {
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .article-container {
    width: 90%;
  }
}